/* ############################################### */
/* Universal Selectors */

:root {
    --primary: #e867ed;
    --secondary: #333940;
    --terciary: #e0eae5;
    --selection: #47cdb4;
}

/* ############################################# */
/* Element Selectors */

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--secondary);
}

h1, h2, p, h3 {
    color: var(--primary);
}

h1 {
    text-align: center;
    padding-top: 30px;
    font-size: xx-large;
    font-weight: bolder;
}

h2 {
    font-weight: bolder;
    font-size: x-large;
}

h3 {
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    padding: 30px;
    padding-top: 8px;
}

p {
    line-height: 1.5;
}
    
header p {
    text-align: center;
    margin: 20px 10% 40px 10%;
}  

article p {
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;;
}

header p, article p {
    color: var(--terciary);
}

/*  */
main {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
}

article {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

/* ######################################### */
/* Class Selectors */

p.indent {
    text-indent: 15px;
}

p.largeindent {
    text-indent: 30px;
}

p.padding {
    padding: 3px 20px;
}

.card-header {
    position: relative;
    margin: 20px;
    margin-top: -20px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--terciary);
    background-color: var(--secondary); 
    transition: all 0.4s ease-in-out;
}

.code-card {
    margin: 20px 10px;
    border: 2px dashed var(--terciary);
    width: 30%;
    transition: all 0.4s ease-in-out;
}
    
.code-card:hover, 
.code-card:hover .card-header {
    box-shadow: inset 0px 0px 8px
    rgba(232, 102, 236, 1), 0 0 15px
    rgba(232, 102, 236, 1);
}

.linear-gradient-background {
    background-image: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%,
        rgba(232, 102, 236, 0.6) 100%
    );
}