/* ############################################### */
/* Universal Selectors */

:root {
    --primary: #e867ed;
    --secondary: #333940;
    --terciary: #e0eae5;
    --selection: #47cdb4;
}

/* ############################################# */
/* Element Selectors */

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--secondary);
}

h1, h2, p, h3 {
    color: var(--primary);
}

header p, article p {
    color: var(--terciary);
}

h2 {
font-weight: bolder;
font-size: xx-large;
margin: 30px;
}

p {
margin: 10px;
}

main {
display: flex;
flex-wrap: wrap;
justify-content: center;
max-width: 50%;

}

section {
margin: 10px;
border: 3px dotted var(--terciary);
}

/* ######################################### */
/* Class Selectors */

.indent {
    text-indent: 15px;
}

.largeindent {
    text-indent: 30px;
}